In [1]:
import pandas as pd

In [11]:
data = pd.read_csv("../The_hindu_scrapped/y9.csv").drop("Unnamed: 0",axis=1)

In [12]:
data.head(100)

,Date,Category,Headline,Text
0,"August 15, 2009 17:59 IST",markets,Go for gold,India buys 800 tonnes of gold every year (33 ...
1,"August 30, 2009 01:56 IST",markets,Trading in interest rate futures to commence o...,Prior to the start of Exchange Traded Interes...
2,"August 31, 2009 10:53 IST",markets,Sensex tumbles 256 points,A steep fall in Chinese stocks on Monday cut ...
3,"August 31, 2009 16:40 IST",industry,CAG: oil contractors to furnish accounts,The Union Petroleum and Natural Gas Ministry ...
4,"August 24, 2009 15:37 IST",industry,Chamber sets up ‘Investment Cell’ to assist In...,In a follow up to the recently held two-day m...
...,...,...,...,...
95,"August 16, 2009 19:14 IST",tamil nadu,Campaign ends in Cumbum,The election campaign for the by-poll in Cumb...
96,"August 16, 2009 20:13 IST",tamil nadu,Admission to private engineering colleges open,Counselling for the government quota in engin...
97,"August 16, 2009 20:19 IST",tamil nadu,Organic farmers object to provisions in TN Sta...,"Farmers and activists, especially those invol..."
98,"August 16, 2009 09:26 IST",kerala,Kerala Minister Mons Joseph resigns,Mr. Mons said in his resignation letter that ...
99,"August 16, 2009 13:06 IST",delhi,15 new swine flu cases reported in Delhi,Swine flu cases continue to mount in the Capi...

In [13]:
len(data)

22732

In [14]:
associated_words = ['corruption',
 'nepotism',
 'favouritism',
 'indiscipline',
 'maladministration',
 'graft',
 'wrongdoing',
 'mismanagement',
 'illegality',
 'criminality',
 'horse trading',
 'misuse',
 'corrupt',
 'omission',
 'impropriety',
 'dishonest',
 'inefficiency',
 'scandal',
 'scam',
 'malice',
 'tactic',
 'vendetta',
 'allegation',
 'cash for vote',
 'coercion',
 'bribe',
 'conspiracy',
 'undue',
 'accusation',
 'irregularity',
 'malafide']

In [15]:
associated_weights = [1,
 0.9195553064346313,
 0.8965622186660767,
 0.8548580408096313,
 0.8346401453018188,
 0.8276455998420715,
 0.7929514646530151,
 0.7868432998657227,
 0.7804960012435913,
 0.7802691459655762,
 0.7802132368087769,
 1,
 0.7622466087341309,
 0.7567644119262695,
 0.7549698352813721,
 0.752644419670105,
 0.7506660223007202,
 0.7474774122238159,
 0.7340414524078369,
 0.7330329418182373,
 0.727906346321106,
 0.7277158498764038,
 0.725343644618988,
 0.7236220240592957,
 0.7228101491928101,
 0.7221366763114929,
 0.7185566425323486,
 0.7079461812973022,
 0.7077040672302246,
 0.7007368206977844,
 0.7007308602333069]

In [16]:
for i in range(len(associated_words)):
    print(associated_words[i], associated_weights[i])
    
print(len(associated_words))
print(len(associated_weights))

corruption 1
nepotism 0.9195553064346313
favouritism 0.8965622186660767
indiscipline 0.8548580408096313
maladministration 0.8346401453018188
graft 0.8276455998420715
wrongdoing 0.7929514646530151
mismanagement 0.7868432998657227
illegality 0.7804960012435913
criminality 0.7802691459655762
horse trading 0.7802132368087769
misuse 1
corrupt 0.7622466087341309
omission 0.7567644119262695
impropriety 0.7549698352813721
dishonest 0.752644419670105
inefficiency 0.7506660223007202
scandal 0.7474774122238159
scam 0.7340414524078369
malice 0.7330329418182373
tactic 0.727906346321106
vendetta 0.7277158498764038
allegation 0.725343644618988
cash for vote 0.7236220240592957
coercion 0.7228101491928101
bribe 0.7221366763114929
conspiracy 0.7185566425323486
undue 0.7079461812973022
accusation 0.7077040672302246
irregularity 0.7007368206977844
malafide 0.7007308602333069
31
31

In [17]:
data["Text"][0]

' India buys 800 tonnes of gold every year (33 per cent of fresh production) whereas ‘the dumb central bankers around the world have been selling this precious metal for over two decades,’ says Anil Selarka in <b> ‘\n ’ </b> (www.anilselarka.com). He computes the cumulative gold held by Indian households at over 20,000 tonnes, valued at $611 billions, or nearly 8 years of global annual gold production. His suggestion, therefore, is that the US should deploy 0.5 per cent of its overall tax collections of $3 trillion to buy gold on a continuous basis. “The spending of say, $20 billion at from $600 per ounce downward, may fetch 1,100 tonnes of gold per year. In 10 years, whatever gold was lost in last 40 years since Nixon era will return to the Treasury to impart the real strength to the dollar.” Also, through tax breaks, encourage the Americans to save part of their income in gold, Selarka advises. “Make them realise that paper assets make a person pauper.” Urging the US to make gold an active asset in liquidity adjustment, he reminds that Japanese T bills or notes with near-zero yield for over 16 years have lost value whereas gold with equally zero yield has risen 269 per cent. “If gold being non-interest bearing is a ‘dead asset,’ how come nearly zero-rate T bills and notes are suitable replacement? They are also dead assets.” Provoking thought.'

In [18]:
from nltk.tokenize import word_tokenize

In [19]:
# This iterates through each word in the tokenized article and scores it

article = data["Text"][160].lower()

tokens = word_tokenize(article)
article_score = 0
for word in tokens:
    for i in range(31):
        if( word == associated_words[i]):
            print(word)
            article_score += associated_weights[i]
        
print(article_score)

0

In [20]:
data["Score"] = data.apply(lambda row: 0)

In [21]:
data.head(10)

,Date,Category,Headline,Text,Score
0,"August 15, 2009 17:59 IST",markets,Go for gold,India buys 800 tonnes of gold every year (33 ...,NaN
1,"August 30, 2009 01:56 IST",markets,Trading in interest rate futures to commence o...,Prior to the start of Exchange Traded Interes...,NaN
2,"August 31, 2009 10:53 IST",markets,Sensex tumbles 256 points,A steep fall in Chinese stocks on Monday cut ...,NaN
3,"August 31, 2009 16:40 IST",industry,CAG: oil contractors to furnish accounts,The Union Petroleum and Natural Gas Ministry ...,NaN
4,"August 24, 2009 15:37 IST",industry,Chamber sets up ‘Investment Cell’ to assist In...,In a follow up to the recently held two-day m...,NaN
5,"August 27, 2009 09:58 IST",markets,Rupee down 11 paise against dollar in early trade,The Indian rupee on Thursday fell to touch a ...,NaN
6,"August 22, 2009 00:19 IST",markets,Cox and Kings files prospectus,"Cox and Kings (India), one of the largest tou...",NaN
7,"August 23, 2009 15:58 IST",other states,World Bank lauds Himachal for effective AIDS p...,Himachal Pradesh has been praised by the Worl...,NaN
8,"August 29, 2009 17:35 IST",hyderabad,30 per cent salary hike for AP police,"The salaries of the staff working in CID, AP ...",NaN
9,"August 29, 2009 20:08 IST",delhi,Delhi Book Fair opens with international parti...,Stating that books play a significant role in...,NaN

In [22]:
# Running the scoring for all articles in an year

length = len(data)
for j in range(length):
    if(j%1000 == 0):
        print(j)
    article = str(data["Text"][j]).lower()
    tokens = word_tokenize(article)
    article_score = 0
    for word in tokens:
        for i in range(31):
            if( word == associated_words[i]):
                article_score += associated_weights[i]
    data.at[j, 'Score'] = article_score

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000

In [24]:
data.head(10)

,Date,Category,Headline,Text,Score
0,"August 15, 2009 17:59 IST",markets,Go for gold,India buys 800 tonnes of gold every year (33 ...,0.0
1,"August 30, 2009 01:56 IST",markets,Trading in interest rate futures to commence o...,Prior to the start of Exchange Traded Interes...,0.0
2,"August 31, 2009 10:53 IST",markets,Sensex tumbles 256 points,A steep fall in Chinese stocks on Monday cut ...,0.0
3,"August 31, 2009 16:40 IST",industry,CAG: oil contractors to furnish accounts,The Union Petroleum and Natural Gas Ministry ...,0.0
4,"August 24, 2009 15:37 IST",industry,Chamber sets up ‘Investment Cell’ to assist In...,In a follow up to the recently held two-day m...,0.0
5,"August 27, 2009 09:58 IST",markets,Rupee down 11 paise against dollar in early trade,The Indian rupee on Thursday fell to touch a ...,0.0
6,"August 22, 2009 00:19 IST",markets,Cox and Kings files prospectus,"Cox and Kings (India), one of the largest tou...",0.0
7,"August 23, 2009 15:58 IST",other states,World Bank lauds Himachal for effective AIDS p...,Himachal Pradesh has been praised by the Worl...,0.0
8,"August 29, 2009 17:35 IST",hyderabad,30 per cent salary hike for AP police,"The salaries of the staff working in CID, AP ...",0.0
9,"August 29, 2009 20:08 IST",delhi,Delhi Book Fair opens with international parti...,Stating that books play a significant role in...,0.0

In [131]:
data["Score"][160]

0.0

In [132]:
# data.to_csv("../The_hindu_scrapped/y_0910_Scored.csv")

In [133]:
# data = pd.read_csv("../The_hindu_scrapped/y_1819_Scored.csv")

In [26]:
# Sorting based on scores to see the highest score we have
data = data.sort_values(by="Score", ascending=False).reset_index(drop=True)

In [27]:
data.head(10)

,Date,Category,Headline,Text,Score
0,"August 29, 2009 18:52 IST",karnataka,‘Silence of the majority abetting corruption’,"Terming corruption as “anti-national, anti-de...",14.524493
1,"September 14, 2009 01:07 IST",national,Need to revisit constitutional provisions givi...,"The Union Minister for Law and Justice, M. Ve...",12.048986
2,"March 28, 2010 16:45 IST",society,A silent storm brews,Getting a licence or a passport without a bri...,10.135177
3,"August 26, 2009 21:49 IST",national,"Go for the big fish, Manmohan tells CBI",Prime Minister Manmohan Singh on Wednesday as...,9.514891
4,"September 14, 2009 01:54 IST",national,71 new CBI courts to hear corruption cases,Union Law Minister Veerappa Moily on Sunday a...,9.078768
5,"September 25, 2009 01:07 IST",business,Indians doing business abroad among most corru...,"At least 30 per cent of the 2,742 business ex...",8.493260
6,"February 05, 2010 16:49 IST",karnataka,Focus on role of private sector in corruption:...,Stressing the need for bringing about improve...,8.444273
7,"January 07, 2010 16:55 IST",international,Gen. Fonseka’s manifesto spells out his vision...,After securing the support of the post-Prabak...,8.421055
8,"August 23, 2009 00:13 IST",national,"CBI unearths corruption, forgery in Protectora...",The Central Bureau of Investigation unearthed...,8.369350
9,"February 07, 2010 19:02 IST",national,"Political parties, activists take on MP govt. ...",Political parties and civil society activists...,8.230330

In [28]:
# filehandle = open("Index_top_10.txt","w")
# for i in range(10):
#     filehandle.write("Headline: "+ str(data["Headline"][i]))
#     filehandle.write("\nDate: "+ str(data["Date"][i]))
#     filehandle.write("\nScore: "+ str(data["Score"][i])+"\n")
#     filehandle.write(str(data["Text"][i]))
#     filehandle.write("\n\n\n")

In [29]:
# The value 1.5 was chosen as the any article would need atleast two words to get past this score threshold
num_corr1 = data[data["Score"]>1.5]
print(len(num_corr1))

350

In [31]:
num_corr2 = data[data["Score"]>1.75]
print(len(num_corr2))

287

In [32]:
# Calculating the percentage of articles in a year which cross the threshold
fract1 = len(num_corr1)/len(data)
print(fract1)
fract2 = len(num_corr2)/len(data)
print(fract2)

0.015396797466127045
0.012625373922224178

In [140]:
#Saving fractions of each year to a txt file for further analysis

filehandle= open("Yearwise.txt",'a')
filehandle.write("\n\nYear: 2009\n")
filehandle.write("Fract1: "+str(fract1))
filehandle.write("\nFract2: "+str(fract2))
filehandle.close()